ClienteEE/src/conf/xml-resources/web-service-references/FuncionarioService/wsdl/localhost_8080/FuncionarioWS/FuncionarioService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webService.tabd2.unirio.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webService.tabd2.unirio.br/" name="FuncionarioService">
<types>
<xsd:schema>
<xsd:import namespace="http://webService.tabd2.unirio.br/" schemaLocation="http://localhost:8080/FuncionarioWS/FuncionarioService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="alterarFuncionario">
<part name="parameters" element="tns:alterarFuncionario"></part>
</message>
<message name="alterarFuncionarioResponse">
<part name="parameters" element="tns:alterarFuncionarioResponse"></part>
</message>
<message name="consultarFuncionario">
<part name="parameters" element="tns:consultarFuncionario"></part>
</message>
<message name="consultarFuncionarioResponse">
<part name="parameters" element="tns:consultarFuncionarioResponse"></part>
</message>
<message name="listarFuncionario">
<part name="parameters" element="tns:listarFuncionario"></part>
</message>
<message name="listarFuncionarioResponse">
<part name="parameters" element="tns:listarFuncionarioResponse"></part>
</message>
<message name="excluirFuncionario">
<part name="parameters" element="tns:excluirFuncionario"></part>
</message>
<message name="excluirFuncionarioResponse">
<part name="parameters" element="tns:excluirFuncionarioResponse"></part>
</message>
<message name="inserirFuncionario">
<part name="parameters" element="tns:inserirFuncionario"></part>
</message>
<message name="inserirFuncionarioResponse">
<part name="parameters" element="tns:inserirFuncionarioResponse"></part>
</message>
<portType name="FuncionarioService">
<operation name="alterarFuncionario">
<input wsam:Action="http://webService.tabd2.unirio.br/FuncionarioService/alterarFuncionarioRequest" message="tns:alterarFuncionario"></input>
<output wsam:Action="http://webService.tabd2.unirio.br/FuncionarioService/alterarFuncionarioResponse" message="tns:alterarFuncionarioResponse"></output>
</operation>
<operation name="consultarFuncionario">
<input wsam:Action="http://webService.tabd2.unirio.br/FuncionarioService/consultarFuncionarioRequest" message="tns:consultarFuncionario"></input>
<output wsam:Action="http://webService.tabd2.unirio.br/FuncionarioService/consultarFuncionarioResponse" message="tns:consultarFuncionarioResponse"></output>
</operation>
<operation name="listarFuncionario">
<input wsam:Action="http://webService.tabd2.unirio.br/FuncionarioService/listarFuncionarioRequest" message="tns:listarFuncionario"></input>
<output wsam:Action="http://webService.tabd2.unirio.br/FuncionarioService/listarFuncionarioResponse" message="tns:listarFuncionarioResponse"></output>
</operation>
<operation name="excluirFuncionario">
<input wsam:Action="http://webService.tabd2.unirio.br/FuncionarioService/excluirFuncionarioRequest" message="tns:excluirFuncionario"></input>
<output wsam:Action="http://webService.tabd2.unirio.br/FuncionarioService/excluirFuncionarioResponse" message="tns:excluirFuncionarioResponse"></output>
</operation>
<operation name="inserirFuncionario">
<input wsam:Action="http://webService.tabd2.unirio.br/FuncionarioService/inserirFuncionarioRequest" message="tns:inserirFuncionario"></input>
<output wsam:Action="http://webService.tabd2.unirio.br/FuncionarioService/inserirFuncionarioResponse" message="tns:inserirFuncionarioResponse"></output>
</operation>
</portType>
<binding name="FuncionarioServicePortBinding" type="tns:FuncionarioService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="alterarFuncionario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="consultarFuncionario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="listarFuncionario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="excluirFuncionario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="inserirFuncionario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="FuncionarioService">
<port name="FuncionarioServicePort" binding="tns:FuncionarioServicePortBinding">
<soap:address location="http://localhost:8080/FuncionarioWS/FuncionarioService"></soap:address>
</port>
</service>
</definitions>