ClienteEE/web/WEB-INF/wsdl/localhost_8080/FuncionarioWS/FuncionarioService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://webService.tabd2.unirio.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webService.tabd2.unirio.br/">

<xs:element name="consultarFuncionario" type="tns:consultarFuncionario" />

<xs:element name="consultarFuncionarioResponse" type="tns:consultarFuncionarioResponse" />

<xs:element name="excluirFuncionario" type="tns:excluirFuncionario" />

<xs:element name="excluirFuncionarioResponse" type="tns:excluirFuncionarioResponse" />

<xs:element name="inserirFuncionario" type="tns:inserirFuncionario" />

<xs:element name="inserirFuncionarioResponse" type="tns:inserirFuncionarioResponse" />

<xs:element name="listarFuncionario" type="tns:listarFuncionario" />

<xs:element name="listarFuncionarioResponse" type="tns:listarFuncionarioResponse" />

<xs:complexType name="listarFuncionario">
<xs:sequence />
</xs:complexType>

<xs:complexType name="listarFuncionarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:funcionario" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="funcionario">
<xs:sequence>
<xs:element name="cpf" type="xs:int" />
<xs:element name="nome" type="xs:string" minOccurs="0" />
<xs:element name="tipo" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarFuncionario">
<xs:sequence>
<xs:element name="cpf" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarFuncionarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:funcionario" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="inserirFuncionario">
<xs:sequence>
<xs:element name="funcionario" type="tns:funcionario" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="inserirFuncionarioResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="excluirFuncionario">
<xs:sequence>
<xs:element name="cpf" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="excluirFuncionarioResponse">
<xs:sequence />
</xs:complexType>
</xs:schema>